<button id="J_UploadImgBtn">上传图片</button>
<hr />
<p>上传进度：<span id="J_UploadProgress">0</span>%</p>
<p>上传图片结果：</p>
<div id="J_UploadResult"></div>
<script type="text/javascript" src="/js/melon-index.js"></script>