html {
	touch-action: manipulation;
}
html, body, h3, ul, li {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: circle;
}
.container {
	position: relative;
	width: 335px;
	margin: 0 auto;
	.title {
		text-align: center;
		margin-top: 20px;
		margin-bottom: 10px;
	}
	.game {
		position: absolute;
		width: 200px;
		height: 400px;
		background-color: #F2FAFF;
		border: 1px solid skyblue;
		border-top: none;
		top: 60px;
		left: 0;
	}
	.record {
		position: absolute;
		top: 60px;
		left: 220px;
		.next {
			position: relative;
			width: 80px;
			height: 80px;
			background-color: #F2FAFF;
			border: 1px solid skyblue;
		}
		.info {
			margin-top: 5px;
		}
		.gameover {
			margin-top: 6px;
			color: red;
			font-size: 16px;
			line-height: 20px;
		}
	}
	.click {
		position: absolute;
		top: 236px;
		left: 220px;
		.btn {
			position: absolute;
			width: 30px;
			height: 30px;
			background-color: #484444;
			color: #FFF;
			border-radius: 4px;
			text-align: center;
			font-size: 20px;
			line-height: 30px;
			user-select: none;
			box-sizing: border-box;
			cursor: pointer;
		}
		&>:nth-child(1) {
			left: 0;
			width: 90px;
		}
		&>:nth-child(2) {
			left: 30px;
			top: 90px;
		}
		&>:nth-child(3) {
			left: 0;
			top: 120px;
		}
		&>:nth-child(4) {
			left: 60px;
			top: 120px;
		}
		&>:nth-child(5) {
			left: 30px;
			top: 150px;
		}
		&>:nth-child(6) {
			width: 90px;
			left: 0;
			top: 195px;
		}
	}
	.tips {
		position: absolute;
		top: 470px;
		line-height: 20px;
	}
	.none,
	.current,
	.done {
		position: absolute;
		width: 20px;
		height: 20px;
		box-sizing: border-box;
	}
	.none {
		background-color: #F2FAFF;
	}
	.current {
		background-color: pink;
		border: 1px solid red;
	}
	.done {
		background-color: gray;
		border: 1px solid black;
	}
}
